<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs  class="tabs-dark tabs-icon-only">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-on="icon ion-ios7-home" icon-off="icon ion-ios7-home-outline" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Lists Tab -->
  <ion-tab title="Lists" icon-on="icon ion-ios7-browsers" icon-off="icon ion-ios7-browsers-outline" href="#/tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Words Tab -->
  <ion-tab title="Words" class="tabs-item-hide" icon="icon ion-heart" href="#/tab/alphabet/A/1">
    <ion-nav-view name="tab-words"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-on="icon ion-ios7-gear" icon-off="icon ion-ios7-gear-outline" href="#/tab/setting">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>