<ion-view title="Ortho">
  <ion-content class="padding">
    <form action=""  ng-submit="search(s)">
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="s">
          </label>
          <button class="button button-positive icon-left">
             <i class="icon ion-ios7-search"></i> Search
          </button>
        </div>
    </form>

    <div class="list">
      <a class="button button-calm" style="margin: 5px 1%; width: 47%" href="#/tab/alphabets">
        Alphabet
      </a>
      <a class="button button-calm" style="margin: 5px 1%; width: 47%" href="#/tab/top/50/1">
        Top 50
      </a>
      <a class="button button-calm" style="margin: 5px 1%; width: 47%" href="#/tab/top/50/1">
        Top 100
      </a>
      <a class="button button-calm" style="margin: 5px 1%; width: 47%" href="#/tab/top/50/1">
        Top 200
      </a>
      <a class="button button-calm" style="margin: 5px 1%; width: 47%" href="#/tab/top/50/1">
        Top 300
      </a>
      <a class="button button-calm" style="margin: 5px 1%; width: 47%" href="#/tab/top/50/1">
        Top 400
      </a>
      <a class="button button-calm" style="margin: 5px 1%; width: 47%" href="#/tab/top/50/1">
        Top 500
      </a>
    </div>
  </ion-content>
</ion-view>