<ion-view title="Lists">
  <ion-content class="padding">
		<div class="list">
		  <a class="button button-positive button-block button-outline" href="#/tab/alphabets">
		    Alphabet
		  </a>
		  <a class="button button-positive button-block button-outline" href="#/tab/top/50/1">
		    Top 50
		  </a>
		  <a class="button button-positive button-block button-outline" href="#/tab/top/50/1">
		    Top 100
		  </a>
		  <a class="button button-positive button-block button-outline" href="#/tab/top/50/1">
		    Top 200
		  </a>
		  <a class="button button-positive button-block button-outline" href="#/tab/top/50/1">
		    Top 300
		  </a>
		  <a class="button button-positive button-block button-outline" href="#/tab/top/50/1">
		    Top 400
		  </a>
		  <a class="button button-positive button-block button-outline" href="#/tab/top/50/1">
		    Top 500
		  </a>
		</div>
  </ion-content>
</ion-view>