<ion-view title="Lists">
  <ion-content class="padding">
		<div class="words-list list">
		  <a class="button button-calm" href="#/tab/alphabets">
		    Alphabet
		  </a>
		  <a class="button button-calm" href="#/tab/top/50/1">
		    Top 50
		  </a>
		  <a class="button button-calm" href="#/tab/top/100/1">
		    Top 100
		  </a>
		  <a class="button button-calm" href="#/tab/top/200/1">
		    Top 200
		  </a>
		  <a class="button button-calm" href="#/tab/top/300/1">
		    Top 300
		  </a>
		  <a class="button button-calm" href="#/tab/top/400/1">
		    Top 400
		  </a>
		  <a class="button button-calm" href="#/tab/top/500/1">
		    Top 500
		  </a>
		</div>
  </ion-content>
</ion-view>