<ion-view title="{{title}} - {{page}} of {{totalPages}}" id="word-list">
  <ion-content>

    <div ng-include="'templates/list/words.paginate.html'"></div>

    <ion-list on-swipe-left="prev()" on-swipe-right="next()">
      <ion-item ng-repeat="word in words" type="item-text-wrap" href="#/tab/meaning/{{word.id}}">
        <strong>{{word.name}}</strong>
        <small><em>{{word.sd}}</em></small>
      </ion-item>
    </ion-list>

    <div ng-include="'templates/list/words.paginate.html'"></div>

  </ion-content>
</ion-view>