<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{word.name}}">
  <ion-content has-header="true" padding="true">

<div class="word-meaning card">
  <div class="item item-divider"> Short Definition </div>
  <div class="item item-text-wrap">
      <p> {{ word.sd }} </p>
  </div>
  <div class="item item-divider"> Full Definition </div>
  <div ng-repeat="fd in word.fd" class="item item-text-wrap">
        <p><strong>definition:</strong> {{fd.d}}</p>
        <p ng-show="fd.s"><strong>synonym:</strong> {{fd.s}}</p>
  </div>

  <div ng-show="word.mn[0]" class="item item-divider"> Mnemonics </div>
  <div ng-repeat="mn in word.mn track by $index" class="item item-text-wrap">
        <p><em style="font-size:10px">{{$index}}:</em> {{mn}}</p>
  </div>
</div>


  </ion-content>
</ion-view>
